@page "/"

@using BlazorBindGen
@inject IJSRuntime runtime

<button @onclick="Heavy">Do Work</button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		
	}
	protected  async  Task Heavy()
	{
		BindGen loader = new BindGen(runtime);
		await loader.Init();
		var obj=loader.This;
		Console.WriteLine("inner width = "+obj.Prop<int>("innerWidth"));
	}
}