@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@inject IJSRuntime runtime

<button class="btn btn-primary" id="mbtn" @onclick="Heavy">Draw</button><br />
<canvas id="myCanvas" width="400" height="400"></canvas>


@code{
	JWindow win;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Init(runtime);
		win = Window;
	}
	async Task Heavy()
	{
		await Import("https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.1/p5.min.js");
		var ver = win.Construct("p5").Val<string>("VERSION");
		Console.WriteLine(ver);
		var txt = win.PropRef("document").FuncRef("getElementById", "mbtn").Val<string>("innerHTML");
		//Console.WriteLine(":" + txt);

		var g = win.PropRef("document").PropRef("location").To<rec>();
		var gg = win.PropRef("arr");
		var arr=GetArrayFromRef(gg);
		Console.WriteLine(arr.Length);

	}
	class Clb : JCallback
	{
		public override void Execute(params object[] args)
		{
			Console.WriteLine("got: " + args[0]);
		}
	}
	record rec(string hash, string host, string hostname);

}