@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@using SampleApp.JSBinding

@inject IJSRuntime runtime
<div @ref="canvasRef"></div>

@code
{
	JWindow win;
	public JObjPtr sentiment;
	string predictText;
	ElementReference canvasRef;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await InitAsync(runtime);

		win = Window;
		await P5Task();
	}

	async Task P5Task()
	{
		await ImportAsync("https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.1/p5.js");
		var p5 = win.Construct("p5", null, canvasRef);
		p5.CallVoid("createCanvas", 800, 600);
		p5.CallVoid("background", 0, 120, 0, 255);

		//var c=await ImportRefAsync("https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js");
		//var S=c.PropVal<string>("SDK_VERSION");

		var firebase = await FirebaseBinding.ImportAsync();
		Console.WriteLine(firebase.SDK_VERSION);
	}
	
}
