@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@inject IJSRuntime runtime

<button class="btn btn-primary" id="mbtn" @onclick="Heavy">Draw</button><br />
<canvas id="myCanvas" width="400" height="400"></canvas>
<div @ref="divElm"></div>

@code
{
	JWindow win;
	ElementReference divElm;

	public JObjPtr sentiment;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Init(runtime);
		win = Window;
	}
	async Task Heavy()
	{
		await Import("https://unpkg.com/ml5@latest/dist/ml5.min.js");
		Console.Clear();
		var ml5 = win.PropRef("ml5");
		//const sentiment = ml5.sentiment('movieReviews', modelReady);
		sentiment=ml5.CallRef("sentiment","movieReviews",new Clb() {index=this });
	}
	
	void DoJob(params object[] args)
	{
		
	}
	record Score(double score);

	class Clb : JCallback
	{
		public Index index;
		public override void Execute(params object[] args)
		{
			Console.WriteLine("Model Loaded");
		    var v=index.sentiment.Call<Score>("predict", "best product always recommending you guys to buy");
			Console.WriteLine(v.score);		
		}
	}
}
	
