@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@inject IJSRuntime runtime

<input type="text" @bind="predictText" placeholder="write review here" />
<button class="btn btn-primary" id="mbtn" @onclick="Predict">Sentiment</button><br />

@code
{
	JWindow win;
	JObjPtr sentiment;
	string predictText = "";
	bool Loaded = false;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Init(runtime);
		win = Window;
		Load();
	}
	async void Load()
	{
		await Import("https://unpkg.com/ml5@latest/dist/ml5.min.js");
		Console.Clear();
		var ml5 = win.PropRef("ml5");
		Action<object[]> ModelLoaded=OnModelLoaded;
		sentiment= ml5.CallRef("sentiment","movieReviews",ModelLoaded);
		Console.WriteLine("loft");

	}
	void Predict()
	{
		var v=sentiment.Call<Score>("predict", predictText);
		Console.WriteLine(v.score);
	}
	
	void OnModelLoaded(params object[] args)
	{
		Console.WriteLine("Model Loaded");
	}
	record Score(double score);

}
	
