@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@inject IJSRuntime runtime

<button class="btn btn-primary" @onclick="Heavy">Do Work</button>


@code{

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		
	}
	protected  async  Task Heavy()
	{
		await Init(runtime);
		var win=Window;

		var wth = win.Val<int>("innerWidth");

		Console.WriteLine("inner width = "+wth);

		Console.WriteLine(win.IsFunc("cool") + " " + win.IsFunc("getBinary"));
		Console.WriteLine(win.IsProp("document") + " " + win.IsProp("getBinary"));

		var url=win.PropRef("document").Val<string>("URL");
		Console.WriteLine("url = "+url);
	}
}