@page "/"

@using BlazorBindGen
@using static BlazorBindGen.BindGen
@inject IJSRuntime runtime

<input type="text" class="form-controls" @bind="predictText" placeholder="write review here " />
<button class="btn btn-primary" id="mbtn" @onclick="Predict">Draw</button><br />

@code
{
	JWindow win;
	public JObjPtr sentiment;
	string predictText;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Init(runtime);
		win = Window;
		await Heavy();
	}
	async Task Heavy()
	{
		await Import("https://unpkg.com/ml5@latest/dist/ml5.min.js");
		Console.Clear();
		var ml5 = win.PropRef("ml5");
		//const sentiment = ml5.sentiment('movieReviews', modelReady);
		Action<JObjPtr[]> ModelLoaded=OnModelLoaded;
		sentiment=ml5.CallRef("sentiment","movieReviews",ModelLoaded);
	}
	
	void Predict()
	{
		var v=sentiment.Call<Score>("predict", predictText);
		Console.WriteLine(v.score);
	}
	
	void OnModelLoaded(params JObjPtr[] args)
	{
		Console.WriteLine("Model Loaded: "+args.Length);
	}
	record Score(double score);

}
	
